@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
/* line 15, ../weather/assets/css/scss/_base.scss */
* {
  margin: 0;
  box-sizing: border-box;
}

/* line 19, ../weather/assets/css/scss/_base.scss */
body {
  padding: 20px;
}

/* line 22, ../weather/assets/css/scss/_base.scss */
.content {
  display: flex;
  flex-direction: column;
}

/* line 26, ../weather/assets/css/scss/_base.scss */
h1, h2, h3, h4, h5, h5 {
  font-family: "Open Sans", sans-serif;
}

/* line 29, ../weather/assets/css/scss/_base.scss */
p {
  font-family: "Montserrat", sans-serif;
}

/* line 32, ../weather/assets/css/scss/_base.scss */
.seccion-visit-locations {
  display: grid;
}

@media (min-width: 576px) {
  /* line 37, ../weather/assets/css/scss/_base.scss */
  .seccion-visit-locations {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  /* line 42, ../weather/assets/css/scss/_base.scss */
  .content-seccions {
    display: flex;
  }
  /* line 45, ../weather/assets/css/scss/_base.scss */
  .seccion-visit-locations {
    width: 100%;
    grid-template-columns: none;
  }
}

/* line 1, ../weather/assets/css/scss/_banner.scss */
.banner {
  position: relative;
  background-image: url("/assets/img/bogota.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 60px 20px 40px 30%;
  border-radius: 20px;
  width: 100%;
  height: 260px;
}

/* line 11, ../weather/assets/css/scss/_banner.scss */
.banner__map {
  display: none;
}

/* line 15, ../weather/assets/css/scss/_banner.scss */
.banner__title {
  font-size: 2rem;
  color: #8F24E0;
  margin-bottom: 20px;
  text-shadow: 2px 1px 2px #FFF;
}

/* line 21, ../weather/assets/css/scss/_banner.scss */
.banner__currentWeather {
  color: #FFF;
  position: absolute;
  left: -20px;
  top: 10%;
  font-size: 0.75rem;
  border-radius: 20px 20px 20px 0;
  box-shadow: 0px 5px 15px #060606;
}

/* line 31, ../weather/assets/css/scss/_banner.scss */
.banner .currentWeather__state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #580994;
  border-radius: 0px 20px 20px 5px;
  z-index: 9;
}

/* line 41, ../weather/assets/css/scss/_banner.scss */
.banner .currentWeather__state:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 10px;
  background-color: transparent;
  border-bottom-left-radius: 25px;
  top: -20px;
  box-shadow: 0 10px 0 0 #580994;
}

/* line 47, ../weather/assets/css/scss/_banner.scss */
.banner .currentWeather__temp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: -20px;
  padding-top: 20px;
  background-color: #8F24E0;
  border-radius: 0 0 20px 0;
  z-index: 1;
}

/* line 59, ../weather/assets/css/scss/_banner.scss */
.banner .currentWeather__temp:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 10px;
  background-color: transparent;
  border-top-left-radius: 25px;
  bottom: -20px;
  box-shadow: 0 -10px 0 0 #8F24E0;
}

@media (min-width: 576px) {
  /* line 69, ../weather/assets/css/scss/_banner.scss */
  .banner {
    padding: 60px 20px 40px 120px;
  }
}

@media (min-width: 992px) {
  /* line 75, ../weather/assets/css/scss/_banner.scss */
  .banner {
    padding: 60px 20px 40px 120px;
    height: 360px;
  }
  /* line 79, ../weather/assets/css/scss/_banner.scss */
  .banner__title {
    font-size: 3rem;
  }
  /* line 82, ../weather/assets/css/scss/_banner.scss */
  .banner__map {
    display: block;
    padding-left: 40px;
  }
  /* line 86, ../weather/assets/css/scss/_banner.scss */
  .banner__currentWeather {
    top: 30%;
  }
}

/* line 1, ../weather/assets/css/scss/_days.scss */
.seccion-days {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  padding: 0 10px;
  z-index: 9;
}

/* line 8, ../weather/assets/css/scss/_days.scss */
.seccion-days__title {
  position: absolute;
  color: #FFF;
  font-size: 1.5rem;
  margin-top: -35px;
  text-shadow: 2px 2px 3px #060606;
}

/* line 16, ../weather/assets/css/scss/_days.scss */
.seccion-days__day {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 19, ../weather/assets/css/scss/_days.scss */
.seccion-days__day .day__card.day__card--color-primary {
  background-color: #8F24E0;
  color: #FFF;
}

/* line 23, ../weather/assets/css/scss/_days.scss */
.seccion-days__day .day__info {
  display: none;
}

/* line 26, ../weather/assets/css/scss/_days.scss */
.seccion-days__day .day__card {
  text-align: center;
  width: 80px;
  height: 70px;
  background-color: #e1e8f0de;
  border-radius: 10px;
  margin: 0 3px;
  padding: 0 5px;
  box-shadow: 0px 5px 10px #c8c8c8;
}

/* line 36, ../weather/assets/css/scss/_days.scss */
.seccion-days__day .day__card .card__title {
  font-size: 0.75rem;
}

/* line 40, ../weather/assets/css/scss/_days.scss */
.seccion-days__day .day__card .card__icon {
  width: 25px;
  margin-bottom: -12px;
  margin-top: -5px;
}

/* line 45, ../weather/assets/css/scss/_days.scss */
.seccion-days__day .day__card .card__state, .seccion-days__day .day__card .card__temp {
  font-size: 0.65rem;
}

@media (min-width: 576px) {
  /* line 57, ../weather/assets/css/scss/_days.scss */
  .seccion-days__info {
    display: grid;
  }
  /* line 62, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .info__title {
    font-size: .85rem;
  }
  /* line 65, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .info__state {
    font-size: .85rem;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
  }
  /* line 70, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .info__icon {
    width: 35px;
  }
  /* line 75, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .day__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 135px;
    height: 70px;
    background-color: #ffffffd6;
    border-radius: 20px 0 0 20px;
    margin-right: -40px;
    box-shadow: 0px 5px 10px #c8c8c8;
  }
  /* line 84, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .day__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: #E1E8F0;
    margin: 5px;
  }
  /* line 93, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .day__card .card__title, .seccion-days__day .day__card .card__icon, .seccion-days__day .day__card .card__state {
    display: none;
  }
  /* line 98, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .day__card .card__temp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
  }
  /* line 102, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .day__card .card--color-primary {
    background-color: #8F24E0;
  }
}

@media (min-width: 992px) {
  /* line 113, ../weather/assets/css/scss/_days.scss */
  .seccion-days {
    display: block;
    margin-top: 63px;
  }
  /* line 117, ../weather/assets/css/scss/_days.scss */
  .seccion-days__title {
    position: unset;
    color: #060606;
    margin-top: -30px;
    text-shadow: none;
  }
  /* line 123, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day {
    margin-right: 10px;
  }
  /* line 126, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .day__info {
    width: 180px;
  }
  /* line 131, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .info__title {
    font-size: 1rem;
  }
  /* line 134, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .info__icon {
    width: 50px;
  }
}

@media (min-width: 1200px) {
  /* line 144, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day {
    margin-right: 10px;
  }
  /* line 147, ../weather/assets/css/scss/_days.scss */
  .seccion-days__day .day__info {
    width: 220px;
  }
}

/* line 1, ../weather/assets/css/scss/_toVisit.scss */
.to-visit {
  order: 2;
  width: 100%;
}

/* line 5, ../weather/assets/css/scss/_toVisit.scss */
.to-visit__title {
  margin-top: 50px;
  margin-bottom: 10px;
}

/* line 9, ../weather/assets/css/scss/_toVisit.scss */
.to-visit__reviews {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

/* line 15, ../weather/assets/css/scss/_toVisit.scss */
.to-visit .reviews__img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
}

/* line 20, ../weather/assets/css/scss/_toVisit.scss */
.to-visit .reviews__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

/* line 26, ../weather/assets/css/scss/_toVisit.scss */
.to-visit .img__image {
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

/* line 32, ../weather/assets/css/scss/_toVisit.scss */
.to-visit .img__more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  width: 30px;
  height: 30px;
  background-color: #8F24E0;
  border-radius: 5px;
}

/* line 42, ../weather/assets/css/scss/_toVisit.scss */
.to-visit__place {
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  color: #FFF;
  height: 75px;
  background-image: url(/assets/img/bogota.jpg);
}

/* line 46, ../weather/assets/css/scss/_toVisit.scss */
.to-visit__place.first {
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  color: #FFF;
  height: 150px;
  background-image: url(/assets/img/bogota.jpg);
}

/* line 50, ../weather/assets/css/scss/_toVisit.scss */
.to-visit__place.last {
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  color: #FFF;
  height: 75px;
  position: relative;
  background-image: url(/assets/img/bogota.jpg);
}

/* line 56, ../weather/assets/css/scss/_toVisit.scss */
.to-visit .place__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8F24E0;
  color: #FFF;
  padding: 10px none;
  border-radius: 100px;
  text-decoration: none;
  border: 2px none #919191;
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15%;
}

/* line 71, ../weather/assets/css/scss/_toVisit.scss */
.to-visit .place__title {
  text-shadow: 1px 1px 3px #060606;
}

@media (min-width: 576px) {
  /* line 78, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit {
    order: 1;
    width: 90%;
  }
}

@media (min-width: 992px) {
  /* line 85, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit {
    width: 55%;
  }
  /* line 89, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit .reviews__title {
    font-size: .8rem;
  }
  /* line 93, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit .place__button {
    width: 50px;
    border-radius: 50px;
    right: -2px;
  }
  /* line 98, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit__place.first {
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 20px;
    height: auto;
  }
  /* line 104, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit__place.last {
    height: auto;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 0;
  }
  /* line 110, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit__reviews {
    align-items: center;
    margin-top: 22px;
    padding-right: 0;
  }
  /* line 115, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit--display-flex {
    display: flex;
    justify-content: space-between;
  }
  /* line 119, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit--display-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr .1fr;
    grid-gap: 20px;
  }
  /* line 125, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit__title {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  /* line 131, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit {
    width: 56%;
  }
  /* line 134, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit .reviews__title {
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  /* line 141, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit {
    padding-left: 10px;
    width: 59%;
  }
}

@media (min-width: 1600px) {
  /* line 147, ../weather/assets/css/scss/_toVisit.scss */
  .to-visit {
    width: 60%;
  }
}

/* line 1, ../weather/assets/css/scss/_locations.scss */
.locations {
  order: 1;
  margin-top: 90px;
  text-align: center;
  position: relative;
  padding: 0 40px;
}

/* line 9, ../weather/assets/css/scss/_locations.scss */
.locations .seccion-button__button {
  background-color: #E1E8F0;
  color: #8F24E0;
  padding: 10px 20px;
  border-radius: 100px;
  text-decoration: none;
  border: 2px dashed #919191;
  position: absolute;
  top: -40px;
  left: calc(50% - 80px);
}

/* line 15, ../weather/assets/css/scss/_locations.scss */
.locations .seccion-button__img {
  display: none;
}

/* line 20, ../weather/assets/css/scss/_locations.scss */
.locations__card {
  border-radius: 10px;
  box-shadow: 0px 5px 10px #c8c8c8;
  padding: 0 10px 10px 0;
  margin-top: 30px;
  background-color: #FFF;
}

/* line 29, ../weather/assets/css/scss/_locations.scss */
.locations .card__header, .locations .card__footer {
  display: flex;
  align-items: center;
}

/* line 35, ../weather/assets/css/scss/_locations.scss */
.locations .card .header__temp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
  border-right: solid 2px #E1E8F0;
  margin-right: 15px;
}

/* line 42, ../weather/assets/css/scss/_locations.scss */
.locations .card .header .header__icon {
  background-color: #E1E8F0;
  border-radius: 10px;
  font-size: 30px;
}

/* line 47, ../weather/assets/css/scss/_locations.scss */
.locations .card .header .header__icon,
.locations .card .header .header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

/* line 54, ../weather/assets/css/scss/_locations.scss */
.locations .card .header .header__title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 0.75rem;
  margin: 0 15px;
}

/* line 62, ../weather/assets/css/scss/_locations.scss */
.locations .card__footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 0.65rem;
  margin-top: 10px;
  margin-left: 10px;
}

@media (min-width: 576px) {
  /* line 74, ../weather/assets/css/scss/_locations.scss */
  .locations {
    order: 2;
    margin-top: 60px;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  /* line 80, ../weather/assets/css/scss/_locations.scss */
  .locations .seccion-button {
    position: relative;
    margin-top: 40px;
    border: 2px dashed #919191;
    border-radius: 20px;
    height: 200px;
  }
  /* line 87, ../weather/assets/css/scss/_locations.scss */
  .locations .seccion-button__button {
    background-color: #E1E8F0;
    color: #8F24E0;
    padding: 10px 20px;
    border-radius: 100px;
    text-decoration: none;
    border: 2px none #919191;
    position: absolute;
    top: 20px;
    left: calc(50% - 80px);
  }
  /* line 93, ../weather/assets/css/scss/_locations.scss */
  .locations .seccion-button__img {
    display: block;
  }
}

@media (min-width: 992px) {
  /* line 101, ../weather/assets/css/scss/_locations.scss */
  .locations {
    position: absolute;
    top: 260px;
    right: 20px;
    width: 30%;
    padding-left: 0;
  }
  /* line 108, ../weather/assets/css/scss/_locations.scss */
  .locations__card {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
  }
  /* line 117, ../weather/assets/css/scss/_locations.scss */
  .locations .card .header .header__icon {
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }
}

/*# sourceMappingURL=main.css.map */