.banner {
  position: relative;
  background-image: url("/assets/img/bogota.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 60px 20px 40px 30%;
  border-radius: 20px;
  width: 100%;
  height: 260px;

  &__map {
    display: none;
  }

  &__title {
    font-size: 2rem;
    color: $color-primary;
    margin-bottom: 20px;
    text-shadow: 2px 1px 2px $color-white;
  }
  &__currentWeather {
    color: $color-white;
    position: absolute;
    left: -20px;
    top: 10%;
    font-size: 0.75rem;
    border-radius: 20px 20px 20px 0;
    box-shadow: 0px 5px 15px $color-black;
  }
  .currentWeather {
    &__state {
      @include displayFlex(center, center);
      flex-direction: column;
      position: relative;
      width: 80px;
      height: 80px;
      background-color: $color-secundary;
      border-radius: 0px 20px 20px 5px;
      z-index: 9;
    }
    &__state:before {
      @include currentWeatherBefore;
      border-bottom-left-radius: 25px;
      top: -20px;
      box-shadow: 0 10px 0 0 $color-secundary;
    }
    &__temp {
      @include displayFlex(center, center);
      font-size: 1.25rem;
      position: relative;
      width: 80px;
      height: 80px;
      margin-top: -20px;
      padding-top: 20px;
      background-color: $color-primary;
      border-radius: 0 0 20px 0;
      z-index: 1;
    }
    &__temp:before {
      @include currentWeatherBefore;
      border-top-left-radius: 25px;
      bottom: -20px;
      box-shadow: 0 -10px 0 0 $color-primary;
    }
  }
}

@media (min-width: 576px){
  .banner {
    padding: 60px 20px 40px 120px;
  }
}

@media (min-width: 992px){
  .banner {
    padding: 60px 20px 40px 120px;
    height: 360px;

    &__title {
      font-size: 3rem;
    }
    &__map {
      display: block;
      padding-left: 40px;
    }
    &__currentWeather {
      top: 30%;
    }
  }
}