@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

$font-title: 'Open Sans', sans-serif;
$font-text: 'Montserrat', sans-serif;

$color-primary: #8F24E0;
$color-secundary: #580994;
$color-black: #060606;
$color-white: #FFF;
$color-blue: #E1E8F0;
$color-grey: #919191;
$color-shadow: rgb(200, 200, 200);

*{
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 20px;
}
.content {
    display: flex;
    flex-direction: column;
}
h1,h2,h3,h4,h5,h5 {
    font-family: $font-title;
}
p {
    font-family: $font-text;
}
.seccion-visit-locations {
    display: grid;
}

@media (min-width: 576px) {
    .seccion-visit-locations {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px) {
    .content-seccions{
        display: flex;
    }
    .seccion-visit-locations {
        width: 100%;
        grid-template-columns: none;

    }
}