.seccion-days {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  padding: 0 10px;
  z-index: 9;
  &__title {
    position: absolute;
    color: $color-white;
    font-size: 1.5rem;
    margin-top: -35px;
    text-shadow: 2px 2px 3px $color-black;
  }

  &__day {
    @include displayFlex(center, center);
    .day {
      &__card.day__card--color-primary {
        background-color: $color-primary;
        color: $color-white;
      }
      &__info {
        display: none;
      }
      &__card {
        text-align: center;
        width: 80px;
        height: 70px;
        background-color: #e1e8f0de; //Color blue with opacity
        border-radius: 10px;
        margin: 0 3px;
        padding: 0 5px;
        box-shadow: 0px 5px 10px $color-shadow;
        .card {
          &__title{
            font-size: 0.75rem;

          }
          &__icon {
            width: 25px;
            margin-bottom: -12px;
            margin-top: -5px;
          }
          &__state,
          &__temp {
            font-size: 0.65rem;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .seccion-days {
    &__info {
      display: grid;
    }
    &__day {
      .info {
        &__title {
          font-size: .85rem;
        }
        &__state {
          font-size: .85rem;
          font-family: $font-text;
          font-weight: lighter;
        }
        &__icon {
          width: 35px
        }
      }
      .day {
        &__info {
          @include displayFlex(center, flex-start);
          width: 135px;
          height: 70px;
          background-color: #ffffffd6;
          border-radius: 20px 0 0 20px;
          margin-right: -40px;
          box-shadow: 0px 5px 10px $color-shadow;
        }
        &__card {
          @include displayFlex(center, center);
          width: 70px;
          height: 70px;
          border-radius: 20px;
          background-color: $color-blue;
          margin: 5px;

          .card {
            &__title,
            &__icon,
            &__state {
              display: none;
            }
            &__temp {
              @include displayFlex(center, center);
              font-size: .8rem;
            }
            &--color-primary {
              background-color: $color-primary;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .seccion-days {
    display: block;
    margin-top: 63px;

    &__title {
      position: unset;
      color: $color-black;
      margin-top: -30px;
      text-shadow: none;
    }
    &__day {
      margin-right: 10px;
      .day {
        &__info {
          width: 180px;
        }
      }
      .info {
        &__title {
          font-size: 1rem;
        }
          &__icon {
              width: 50px;
          }
      }
    }
  }
}

@media (min-width: 1200px) {
  .seccion-days {
    &__day {
      margin-right: 10px;
      .day {
        &__info {
          width: 220px;
        }
      }
    } 
  } 
}