.locations {
  order: 1;
  margin-top: 90px;
  text-align: center;
  position: relative;
  padding: 0 40px;

  .seccion-button {
    &__button {
      @include button($color-blue, $color-primary, dashed, 20px);
      position: absolute;
      top: -40px;
      left: calc(50% - 80px);
    }
    &__img {
      display: none;
    }
  }

  &__card {
    border-radius: 10px;
    box-shadow: 0px 5px 10px $color-shadow;
    padding: 0 10px 10px 0;
    margin-top: 30px;
    background-color: $color-white;
  }

  .card {
    &__header,
    &__footer {
      display: flex;
      align-items: center;
    }
    .header {
      &__temp {
        @include displayFlex(center, center);
        width: 70px;
        height: 40px;
        border-right: solid 2px $color-blue;
        margin-right: 15px;
      }
      .header__icon {
        background-color: $color-blue;
        border-radius: 10px;
        font-size: 30px;
      }
      .header__icon,
      .header__title {
        @include displayFlex(center, center);
        width: 60px;
        height: 60px;
        margin-right: 5px;
      }
      .header__title {
        @include displayFlex(flex-start, center);
        flex-direction: column;
        text-align: left;
        font-size: 0.75rem;
        margin: 0 15px;
      }
    }
    &__footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      font-size: 0.65rem;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}

@media (min-width: 576px) {
  .locations {
    order: 2;
    margin-top: 60px;
    padding-left: 40px;
    padding-bottom: 40px;

    .seccion-button {
      position: relative;
      margin-top: 40px;
      border: 2px dashed $color-grey;
      border-radius: 20px;
      height: 200px;

      &__button {
        @include button($color-blue, $color-primary, none, 20px);
        position: absolute;
        top: 20px;
        left: calc(50% - 80px);
      }
      &__img {
        display: block;
      }
    }
  }
}

@media (min-width: 992px) {
  .locations {
    position: absolute;
    top: 260px;
    right: 20px;
    width: 30%;
    padding-left: 0;

    &__card {
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 20px;
    }
    .card {
      .header {
        .header__icon {
          width: 80px;
          height: 80px;
          border-radius: 20px;
        }
      }
    }
  }
}
