@mixin currentWeatherBefore {
    content: "";
    position: absolute;
    left: 0px;
    height: 20px;
    width: 10px;
    background-color: transparent;
}

@mixin displayFlex($vertical: center, $horizontal: center) {
    display: flex;
    align-items: $vertical;
    justify-content: $horizontal;
}

@mixin  button($bg:$color-blue, $color:$color-primary, $border-style:dashed, $padding:40px) {
    background-color: $bg;
    color: $color;
    padding: 10px $padding;
    border-radius: 100px;
    text-decoration: none;
    border: 2px $border-style $color-grey;
}

@mixin  toVisit ($margin-top, $height) {
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    margin-top: $margin-top;
    color: $color-white;
    height: $height;
}