.to-visit {
  order: 2;
  width: 100%;

  &__title {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  &__reviews {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .reviews {
    &__img {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 5px;
    }
    &__title {
      @include displayFlex(center, center);
      margin: 0 20px;
    }
  }
  .img {
    &__image {
      object-fit: cover;
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }
    &__more {
      @include displayFlex(center, center);
      color: $color-white;
      width: 30px;
      height: 30px;
      background-color: $color-primary;
      border-radius: 5px;
    }
  }

  &__place {
    @include toVisit($margin-top: 20px, $height: 75px);
    background-image: url(/assets/img/bogota.jpg);
  }
  &__place.first {
    @include toVisit($margin-top: 40px, $height: 150px);
    background-image: url(/assets/img/bogota.jpg);
  }
  &__place.last {
    @include toVisit($margin-top: 20px, $height: 75px);
    position: relative;
    background-image: url(/assets/img/bogota.jpg);
  }
  .place {
    &__button {
      @include displayFlex(center, center);
      @include button(
        $bg: $color-primary,
        $color: $color-white,
        $border-style: none,
        $padding: none
      );
      border-radius: 20px;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 15%;
    }
    &__title {
      text-shadow: 1px 1px 3px $color-black;
    }
  }
}

@media (min-width: 576px) {
  .to-visit {
    order: 1;
    width: 90%;
  }
}

@media (min-width: 992px) {
  .to-visit {
    
    width: 55%;
    .reviews {
      &__title {
        font-size: .8rem;
      }
    }
    .place__button {
      width: 50px;
      border-radius: 50px;
      right: -2px;
    }
    &__place.first {
      grid-row-start: 1;
      grid-row-end: 4;
      margin-top: 20px;
      height: auto;
    }
    &__place.last {
      height: auto;
      grid-row-start: 2;
      grid-row-end: 4;
      margin-top: 0;
    }
    &__reviews {
      align-items: center;
      margin-top: 22px;
      padding-right: 0;
    }
    &--display-flex {
      display: flex;
      justify-content: space-between;
    }
    &--display-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr .1fr;
      grid-gap: 20px;
    }
    &__title {
      margin-top: 30px;
    }
  }
}
@media (min-width: 1200px) {
  .to-visit {
    width: 56%;
    .reviews {
      &__title {
        font-size: 1rem;
      }
    }
  }
}
@media (min-width: 1400px) {
  .to-visit {
    padding-left: 10px;
    width: 59%;
  }
}
@media (min-width: 1600px) {
  .to-visit {
    width: 60%;
  }
}
